@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* Fallback CSS for IE 4-6 and older browsers. Note: Without this setting, body below cannot achieve 100% height. */
  height: 100%;
  /* Overrides 100% height in modern HTML5 browsers and uses the viewport's height. Only works in modern HTML5 browsers */
  height: 100vh;
}

body {
  /* Allows content to grow beyond the page without overflow */
  height: auto;
  /* Allows content to grow beyond the page without overflow */
  width: auto;
  /* Starts web page with 100% height. Fallback for IE 4-6 and older browsers */
  min-height: 100%;
  /* Starts web page with 100% height. Uses the viewport's height. Only works in modern HTML5 browsers */
  min-height: 100vh;
  /* Optional: Adds an empty scrollbar to the right margin in case content grows vertically, creating a scrollbar.  Allows for better width calculations, as the browser pre-calculates width before scrollbar appears, avoiding page content shifting.*/
  /* overflow-y: scroll; */
  /* background: yellow; FOR TESTING: Next add a large block of text or content to your page and make sure this background color always fills the screen as your content scrolls off the page. If so, this works. You have 100% height with flexible content! */
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;

    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* emojimart */
em-emoji-picker {
  --rgb-background: "inherit";
  --font-size: 14px;
  --font-family: inherit;
  --border-radius: inherit;
  --shadow: none;
}

/* TODO: move it to another css file */
/* editorjs */
.ce-block__content,
.ce-toolbar__content {
  @apply max-w-[unset];
}

/* container css */
.ce-popover.ce-popover--opened {
  @apply rounded-md border-zinc-200 p-1 shadow-sm;
}

/* item css */
.ce-popover-item:not(.ce-popover-item--confirmation) {
  @apply p-1 hover:!bg-zinc-200;
}

.ce-popover-item__title {
  @apply text-sm font-medium;
}

.ce-popover-item__icon {
  @apply rounded-md border-zinc-100;
}

.ce-paragraph[data-placeholder]:empty::before {
  @apply !text-zinc-500;
}

/* searchbox css */
.cdx-search-field.ce-popover__search {
  @apply rounded-md border border-zinc-200 bg-zinc-100;
}

.ce-popover__nothing-found-message.ce-popover__nothing-found-message--displayed {
  @apply py-2 text-center text-xs font-normal;
}

/* Toolbar */
.ce-inline-toolbar {
  @apply rounded-md border-zinc-200 shadow-sm;
}
.ce-inline-toolbar__toggler-and-button-wrapper {
  @apply px-0;
}
.ce-inline-tool {
  @apply w-8 hover:!bg-zinc-200;
}

/* 
h1.ce-header {
  @apply pt-8 text-3xl font-bold;
}
h2.ce-header {
  @apply pt-4 text-2xl font-bold;
}
h3.ce-header {
  @apply pt-4 text-xl font-bold;
}

.cdx-alert {
  @apply mt-1 !rounded-sm text-sm;
}

.ce-delimiter {
  @apply p-0;
}

.toggle-block__selector {
  @apply flex items-center justify-start;
} */
